.lista-rack-container {
  padding: 20px;
}

.rack-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rack-card {
  flex: 1 1 300px;
  max-width: 100%;
}

.rack-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-btn {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  font-weight: bold;
  cursor: pointer;
}

.rack-image-wrapper {
  width: 100%;
  max-width: 750px;
  margin-bottom: 20px;
}

.rack-image-container {
  position: relative;
  width: 100%;
}

.rack-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.rack-overlay {
  position: absolute;
  border: 2px dashed #00f;
  background-color: rgba(0, 0, 255, 0.1);
  cursor: pointer;
}


.sin-equipos {
  font-style: italic;
  color: #777;
}

/* ListaRacks.css */
.rack-editor {
  position: relative;
  width: 100%;
}

.rack-editor img {
  width: 100%;
  height: auto;
  display: block;
}
